doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      rel="stylesheet" 
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      )
    link(
      href="client/css/login.css" 
      rel="stylesheet"
      )
    title Quên mật khẩu
  body
    link(
      href="" 
      rel="stylesheet"
      )
    .wrapper
      form(action="/forgotPassword" method="POST")
        h1 Khôi phục tài khoản
        .input-login
          i.bx.bx-user-circle
          input#input-login(
            required="" 
            autofocus="" 
            placeholder="Hãy nhập Email của bạn" 
            name="email" 
            type="email"
            )
        button.btn(type="submit")
          i.bx.bx-right-arrow-alt