doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    link(
      rel="stylesheet" 
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      )
    link(
      href="client/css/login.css" 
      rel="stylesheet"
      )
    title Register
  body
    link(
      href="" 
      rel="stylesheet"
      )

  div.col-10.ml-sm-auto.px-4
    if successes
      for success in successes
        div.alert.alert-success #{ success }
    if errors
      for error, i in errors
        div.alert.alert-danger #{ error }
    .wrapper
      form(action="/register" method="POST")
        h1 Đăng ký
        .input-login
          i.bx.bx-user-circle
          input#input-login(
            required="" 
            autofocus="" 
            placeholder="Username" 
            name="username" 
            type="text"
            )
        .input-login
          i.bx.bx-lock-alt
          input#input-login(
            placeholder="Email" 
            name="email" 
            type="email"
            )
        .input-login
          i.bx.bx-lock-alt
          input#input-login(
            placeholder="Password" 
            name="password" 
            type="password"
            )
        .remember-forget
          a(href="/forgotPasswordRequest") Quên mật khẩu
        button.btn(type="submit")
          i.bx.bx-right-arrow-alt
        .register
          a(href="/login") Đăng nhập
