doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      content="width=device-width, initial-scale=1.0" 
      name="viewport"
      )
    title Bệnh nhân | Bệnh viện Đa khoa MINONA
    link(
      href="client/css/patientsWebsite.css" 
      rel="stylesheet"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      )
    link(
      rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,700;1,700&family=Montserrat:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      )
  body
    header
      nav
        .logo
          a(href="/")
            img(
              alt="MIMONA logo" 
              src="client/images/logo3.png"
              )
        ul.sub-nav
          li 
            a(href="/") Trang chủ
          li
            a(href="#lucluongyta") Danh sách
          li Bác sĩ của tôi
          li Đặt lịch
          li Tin tức
        ul
          button.login-button
            a(href="login") Đăng nhập
        ul
          button.signin-button
            a(href="register") Đăng ký
    .container
      .content
        .info
          .info-content
            h1.DNYT BỆNH NHÂN
            p
              | Danh sách các bệnh nhân của bệnh viện bao gồm thông tin chi tiết
              |   về lịch sử bệnh lý, dấu vết y tế và các thông tin y tế khác, đóng
              |   vai trò quan trọng trong việc cung cấp chăm sóc y tế chính xác và
              |   hiệu quả cho từng bệnh nhân.
          .buttons
            button Đặt lịch ngay
            button Chi tiết
      .table
        .table-justify
          .title-content.col-2
            h2
              i.material-icons person
              | SỐ LƯỢNG
            h2
              i.material-icons check
              | PHẢN HỒI
          .table-content.col-2
            .sub-content.col-2
              div
                p 03/2024
                p Số lượng: 990
              div
                p 04/2024
                p Số lượng: 1100
            .sub-content.col-2
              div
                p 9941/12300 phản hồi tích cực
              div
                p 8024 không phản hồi
    #lucluongyta.nurse-list
      .title
        | DANH SÁCH
        span
          br
          | BỆNH NHÂN
          br
        button.add-button
          a(href="/management-customer/create") Thêm mới
        button.add-button
          a(href="/management-customer/delete") Xóa
      ul.nurse-info
        each customer in customers
          .nurse-name
            li.nurse-more
              .nurse-content
                h3 #{customer.fullName}
                .what
                  h3
                    i.material-icons wc
                    | Giới tính: #{customer.sex}
                  h3
                    i.material-icons how_to_reg
                    | CCCD: #{customer.cccd} 
                  h3 
                    button(type="button") 
                      a(href='/management-customer/edit') Thông tin chi tiết
                  
    .cpr
      .cpr-contain
        p ©2024 MIMONA *Đã đăng kí bản quyền thương hiệu.