doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Nh&#x1EAD;p th&ocirc;ng tin Benh Nhan; 
  link(rel='stylesheet' href='/client/css/nhap-nurse.css')
body
  section.container
    .Intro
      header Nh&#x1EAD;p th&ocirc;ng tin Bệnh Nhân 
    .Main
      form.form(
        action='/management-customer/create'
        method="POST"
        form-create-customer
        )
        .personal-info
          h2 Th&ocirc;ng tin c&aacute; nh&acirc;n
          .input-box
            label(for="fullName") Họ Và Tên 
            input(
              type='text' 
              placeholder='Nguyễn Văn A' 
              id="fullName"
              name="fullName"
              required
              )
          .gender-box
            h3 Giới tính
            .gender-option
              .gender
                input(
                  type='radio' 
                  name='sex' 
                  id="sex"
                  value="nam"                )
                label(for='sex') Nam
              .gender
                input(
                  type='radio' 
                  name='sex'
                  id="sex"
                  value="nu"
                  )
                label(for='sex') N&#x1EEF;
          .input-box
            label(for="phone")  SDT
            input(type='text' placeholder='' id="phone" name="phone")   
          .input-box
            label(for="email")  Email
            input(type='text' placeholder='' id="email" name="email")        
          .input-box
            label(for="cccd") CCCD 
            input(type='text' placeholder='------------' id="cccd" name="cccd")
          .input-box
            label(for="ngay-cap")  Ng&agrave;y c&#x1EA5;p
            input(type='date' placeholder='dd/mm/yy' id="ngay-cap" name="ngaycap")
          .input-box
            label(for="ngay-sinh")  Ng&agrave;y sinh
            input(type='date' placeholder='...' id="ngay-sinh" name="ngaysinh")
          .input-box
            label(for="diaChiNha")  &Dstrok;&#x1ECB;a ch&#x1EC9; th&#x1B0;&#x1EDD;ng tr&uacute;
            input(type='text' placeholder='Vinh, Nghệ An' id="dia-chi" name="diaChiNha")
          // Thêm mục load ảnh căn cước công dân
          .input-box
            label(for="macBenh")  Mắc bệnh
            input(type='text' placeholder='' id="macBenh" name="macBenh")
          .input-box
            label &#x1EA2;nh c&abreve;n c&#x1B0;&#x1EDB;c c&ocirc;ng d&acirc;n
            input(type='file' accept='image/*')
          // Thêm mục load ảnh chân dung
          .input-box
            label &#x1EA2;nh ch&acirc;n dung
            input(type='file' accept='image/*')
        .work-info
          h2 Thông tin khám bệnh
          .input-box
              label Tiền sử bệnh
              input(
                required="" 
                placeholder="Bệnh tim, v..v.." 
                type="text"
                name="tien_su_benh"
                )
          .input-box
              label Vấn đề sức khỏe hiện tại.
              input(
                required="" 
                placeholder="---------" 
                type="text"
                )
          .input-box
              label Mã bảo hiểm y tế.
              input(
                required="" 
                placeholder="---------" 
                type="text"
                name="BHYT"
                )
          .input-box
              label Ngày khám
              input(
                placeholder="Ngày khám" 
                type="date"
                )
          .input-box
              label Thuốc đã/đang sử dụng
              input(
                placeholder="Nhập tên thuốc" 
                type="text"
                )
          .column
            .input-box
              label Liều lượng
              input(
                required="" 
                placeholder="Nhập liều lượng" 
                type="text"
                )
            .input-box
              label Tần suất sử dụng
              input(
                required="" 
                placeholder="Nhập tần suất" 
                type="text"
                )
        .XacNhan
          button(
            type="submit"
          ) XÁC NHẬN
  script(src="/client/js/nhap-cus.js") 

    
